<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Teenee URL</title>
    <link rel="shortcut icon" href="https://cdn.glitch.com/4fb26009-b9c7-4e74-b56e-ca235daf676a%2F20621756_1634970316548977_5221391309382816019_n.jpg?1515699396576" type="image/x-icon"/>
    <meta name="description" content="A cool thing made with Glitch">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
      
    <header>
      <h1>
        Teenee URL machine
      </h1>
      <h3>A URL Shortener Microservice</h3>
    </header>

         <blockquote>
           <h4>
             User stories:
           </h4>
           <ul>
             <li>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li>
           </ul>
           <li class="li-margin">When I visit that shortened URL, it will redirect me to my original link.</li>
        </blockquote>
        <div>
          <h3>
            Example creation usage:
          </h3>
          <code>https://teenee-url-fcc.glitch.me/new/https://www.google.com</code><br>
          <code>https://teenee-url-fcc.glitch.me/new/http://foo.com:80</code>
          <h3>
            Example creation output
          </h3>
          <code>{ "original_url":"https://www.google.com", "short_url":"https://teenee-url-fcc.glitch.me/S1Au3N1xG" }</code>
          <h3>
            Usage:
          </h3>
          <code>https://url-shortenr.glitch.me/S1Au3N1xG</code>
          <h3>
            Will redirect to:
          </h3>
          <code>https://www.google.com/</code>
        </div>
      </div>
   
    
    <main>
<!--       <p class="bold">Oh hi,</p> -->
<!--       <p></p> -->
      
<!--         <input type="text" maxlength="50" placeholder="Enter your long URL">
        <button>Go</button>
      <section class="dreams">
        <ul id="dreams">
        </ul>
      </section> -->
    </main>

<!--     <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>
 -->
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
